<script>
  import { Block, Row, HyperLink, TextField, Radio } from "../layers";
  import { capitalize } from "../../utils";

  export let pizza = {
    label: "",
    items: [""],
    price: 0
  };

  export let addToPizzas;
  export let resetPizza;

  let label = "";
  let items = [""];
  let price = 0;

  $: isValid = () => {
    const allItems = items.filter(item => item.length > 0);

    return label.length > 0 && allItems.length > 0 && price.length > 0;
  };

  function addItem(index) {
    return event => {
      const value = event.target.value;

      const newItems = items.map((item, idx) => (idx === index ? value : item));

      if (value.length > 0) {
        if (items[index + 1] === undefined) {
          items = [...newItems, ""];
        } else {
          items = newItems;
        }
      } else {
        items = newItems.filter((_, idx) => idx !== index + 1);
      }
    };
  }

  function addNewPizza() {
    if (isValid()) {
      addToPizzas({
        label: capitalize(label),
        items: items.filter(item => item.length > 0),
        price: parseFloat(price)
      });

      resetPizza();
    }
  }
</script>

<style>
  .listview {
    display: flex;
    flex-direction: column;
    height: calc(100% - 10px);
    overflow-y: scroll;
    padding-bottom: 5px;
    margin: 0 auto;
    z-index: 2;
  }
</style>

<Block color="#ef5350">
  <TextField
    placeholder="Label"
    value={label}
    handleInput={e => (label = e.target.value)}
    size={18}
    editable />
</Block>
<Block height={285} color="#ffca28">
  <div class="listview">
    {#each items as item, idx}
      <Row>
        <div slot="icon-cell">
          <Radio color={item.length > 0 ? '#212121' : '#fafafa'} />
        </div>
        <div slot="left-cell">
          <TextField
            placeholder="Item"
            value={item}
            handleInput={addItem(idx)}
            editable />
        </div>
      </Row>
    {/each}
    <Row>
      <div slot="right-cell">
        <TextField
          type="number"
          placeholder="Price"
          value={price}
          handleInput={e => (price = e.target.value)}
          editable />
      </div>
    </Row>
  </div>
</Block>
<Block color="#ffa726">
  {#if isValid()}
    <HyperLink handleClick={addNewPizza} size={18}>Save</HyperLink>
  {/if}
  <HyperLink handleClick={resetPizza} size={18}>Back</HyperLink>
</Block>
