<script>
  import { Block, Row, HyperLink, TextField, Radio } from "../layers";
  import { capitalize } from "../../utils";

  export let pizza;
  export let upToPizzas;
  export let delToPizzas;
  export let resetPizza;

  let takeOff = [];
  let locked = true;
  let label = pizza.label;
  let items = pizza.items;
  let price = pizza.price;

  function handleTakeOff(item) {
    if (takeOff.find(i => i === item)) {
      takeOff = takeOff.filter(i => i !== item);
    } else {
      takeOff = [...takeOff, item];
    }
  }

  function removePizza() {
    delToPizzas(pizza.id);
    resetPizza();
  }

  function updatePizza() {
    if (!locked) {
      upToPizzas({
        id: pizza.id,
        label: capitalize(label),
        items: items,
        price: parseFloat(price)
      });
    }

    locked = !locked;
  }

  function setItem(index) {
    return event => {
      items[index] = event.target.value;
    };
  }
</script>

<style>
  .listview {
    display: flex;
    flex-direction: column;
    height: calc(100% - 10px);
    overflow-y: scroll;
    padding-bottom: 5px;
    margin: 0 auto;
    z-index: 2;
  }
</style>

<Block color="#ef5350">
  <TextField
    placeholder="Label"
    value={label}
    handleInput={e => (label = e.target.value)}
    size={18}
    editable={!locked}>
    {label}
  </TextField>
</Block>
<Block height={285} color="#ffca28">
  <div class="listview">
    {#each items as item, idx}
      <Row>
        <div slot="icon-cell">
          <Radio handleClick={() => handleTakeOff(item)} />
        </div>
        <div slot="left-cell">
          <TextField
            placeholder="Item"
            value={item}
            handleInput={setItem(idx)}
            editable={!locked}>
            {item}
          </TextField>
        </div>
      </Row>
    {/each}
    <Row>
      <div slot="right-cell">
        <TextField
          type="number"
          placeholder="Price"
          value={price}
          handleInput={e => (price = e.target.value)}
          editable={!locked}>
          {(price - takeOff.length).toFixed(2)} €
        </TextField>
      </div>
    </Row>
  </div>
</Block>
<Block color="#ffa726">
  <HyperLink handleClick={updatePizza} size={18}>
    {locked ? 'Unlock' : 'Lock'}
  </HyperLink>
  <HyperLink handleClick={resetPizza} size={18}>Back</HyperLink>
  {#if !locked}
    <HyperLink handleClick={removePizza} size={18}>Del</HyperLink>
  {/if}
</Block>
