<script>
  import { onMount } from "svelte";
  import { Block, Row, HyperLink, TextField } from "../layers";
  import { lo, scrollToListView } from "../../utils";

  export let pizzas = [];
  export let setPizza;

  let filter = "";

  onMount(() => {
    setTimeout(() => {
      scrollToListView();
    }, 1000);
  });

  $: filteredPizzas = () => {
    return pizzas.filter(({ label }) => lo(label).includes(lo(filter)));
  };

  function byKey(key) {
    return (a, b) => (a[key] > b[key] ? 1 : a[key] < b[key] ? -1 : 0);
  }
</script>

<style>
  .listview {
    display: flex;
    flex-direction: column;
    height: calc(100% - 10px);
    overflow-y: scroll;
    padding-bottom: 5px;
    margin: 0 auto;
    z-index: 2;
  }
</style>

<Block color="#ef5350">
  <TextField
    placeholder="All U Need Is Pizza"
    value={filter}
    handleInput={e => (filter = e.target.value)}
    size={18}
    editable />
</Block>
<Block height={285} color="#ffca28">
  <div class="listview">
    <Row>
      <div slot="left-cell">
        <HyperLink
          handleClick={() => setPizza({ label: '', items: [''], price: 0 })}>
          New
        </HyperLink>
      </div>
    </Row>
    {#each filteredPizzas().sort(byKey('label')) as { id, label, items, price }}
      <Row>
        <div slot="left-cell">
          <HyperLink handleClick={() => setPizza({ id, label, items, price })}>
            {label}
          </HyperLink>
        </div>
        <div slot="right-cell">
          <TextField>{price.toFixed(2)} €</TextField>
        </div>
      </Row>
    {/each}
    <Row>
      <div slot="left-cell">
        <HyperLink to="//gitlab.com/aunip/svelte">Code Source</HyperLink>
      </div>
    </Row>
  </div>
</Block>
<Block color="#ffa726">
  <TextField size={18}>{filteredPizzas().length} / {pizzas.length}</TextField>
</Block>
