* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-Regular.ttf');
}
@font-face {
  font-family: 'Nunito';
  font-weight: bold;
  src: url('/fonts/Nunito-Bold.ttf');
}
body {
  margin: 0;
  background-color: #fafafa;
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #212121;
}
.block .content > a,
.block .content > input,
.block .content > p {
  margin: auto;
  z-index: 2;
}
.listview .row > .line .left input {
  text-align: start;
}
.listview .row > .line .right input {
  text-align: end;
}
#app > div {
  margin: 10px auto;
  width: 310px;
}
