<script>
  import { onMount } from "svelte";
  import { readAllPizzas } from "../services/pizza";
  import { generateId } from "../utils";
  import { List, Info, Add } from "./views";

  let pizzas = [];
  let pizza = null;

  onMount(async () => {
    if (pizzas.length === 0) {
      pizzas = await readAllPizzas();
    }
  });

  function addToPizzas(newPizza) {
    pizzas = [...pizzas, { id: generateId(), ...newPizza }];
  }

  function upToPizzas(currentPizza) {
    pizzas = pizzas.map(p => (p.id === currentPizza.id ? currentPizza : p));
  }

  function delToPizzas(id) {
    pizzas = pizzas.filter(p => p.id !== id);
  }
</script>

<style>
  #app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
  }
</style>

<div id="app">
  {#if !pizza}
    <List {pizzas} setPizza={p => (pizza = p)} />
  {:else if pizza && !pizza.id}
    <Add {pizza} {addToPizzas} resetPizza={() => (pizza = null)} />
  {:else if pizza && pizza.id}
    <Info
      {pizza}
      {upToPizzas}
      {delToPizzas}
      resetPizza={() => (pizza = null)} />
  {/if}
</div>
