<script>
  export let height = 60;
  export let color = "#ff7043";
</script>

<style>
  .block {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
  }

  .block .frame {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border: 3px solid #212121;
    z-index: 1;
  }

  .block .content {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background: #ff7043;
    margin-left: -100%;
  }
</style>

<div class="block" style="height:{height}px;">
  <div class="frame" />
  <div class="content" style="background:{color};">
    <slot />
  </div>
</div>
