<script>
  export let to = "#";
  export let size = 16;
  export let handleClick;
</script>

<style>
  a {
    color: #212121;
    text-decoration: none;
  }

  a:focus {
    outline: 0;
  }

  a:hover {
    color: #fafafa;
    transition-duration: 0.375s;
  }
</style>

<a href={to} on:click={handleClick} style="font-size:{size}px;">
  <slot />
</a>
