<script>
  export let color = "#212121";
  export let handleClick;

  let checked = true;

  function onClick() {
    if (handleClick) {
      handleClick();
    }

    checked = !checked;
  }
</script>

<svg
  fill="none"
  width="40"
  height="25"
  on:click={onClick}
  style="cursor:pointer;">
  {#if checked}
    <circle cx="20" cy="12.5" r="5" fill={color} />
  {/if}
  <circle cx="20" cy="12.5" r="10" stroke={color} stroke-width="3" />
</svg>
