<style>
  .row {
    display: grid;
    grid-template-columns: 45px 195px 45px;
    grid-template-rows: 30px;
    grid-template-areas: "icon line none";
    padding-top: 5px;
    margin: 5px auto;
  }

  .row > .icon {
    grid-area: icon;
  }

  .row > .line {
    grid-area: line;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    grid-template-areas: "left right";
    align-items: start;
    border-bottom: 3px solid #212121;
  }

  .row > .line .left {
    grid-area: left;
    text-align: start;
  }

  .row > .line .right {
    grid-area: right;
    text-align: end;
  }
</style>

<div class="row">
  <div class="icon">
    <slot name="icon-cell" />
  </div>
  <div class="line">
    <div class="left">
      <slot name="left-cell" />
    </div>
    <div class="right">
      <slot name="right-cell" />
    </div>
  </div>
</div>
