<script>
  export let type = "text";
  export let size = 16;
  export let editable = false;
  export let placeholder;
  export let value;
  export let handleInput;
</script>

<style>
  input {
    border: 0;
    padding: 0;
    background-color: transparent;
    font-family: "Nunito";
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    text-align: center;
    color: #212121;
    caret-color: #fafafa;
    width: 100%;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:focus {
    outline: 0;
  }

  input::placeholder {
    color: #fafafa;
  }

  p {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
</style>

{#if editable}
  <input
    {type}
    {placeholder}
    {value}
    on:input={handleInput}
    style="font-size:{size}px;" />
{:else}
  <p v-else style="font-size:{size}px;">
    <slot />
  </p>
{/if}
